APP_PORT=8080
APPSTORE_FETCH_CONCURRENCY=8
APPSTORE_CACHE_HOURS=6
APPSTORE_REQUEST_TIMEOUT=10000
APPSTORE_RETRY_COUNT=2
APPSTORE_QUEUE_CAPACITY=2048
APPSTORE_MAX_QUERIES=16
EXCHANGE_RATE_CACHE_HOURS=6
